<?xml version="1.0"?>

<model>
  <name>Endles Corridor</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Henrik Andreasson</name>
    <email>henrik.andreasson@oru.se</email>
  </author>

  <description>
    Endless corridor -> very long cooridor 800 meters long, 4 meters wide. Used for generated test data for soft constraint based registration using odometry.
  </description>
</model>
