<?xml version="1.0"?>

<launch>
  <arg name="xacro_name" default="bt_truck"/>
  <arg name="robot_name" default="robot3"/> <!-- used for TF prefix -->

  <!-- Following parameters used for manual calibration of sensor joints -->
  <arg name="gui" default="false"/>
  <arg name="use_fixed_joints" default="false" if="$(arg gui)"/>
  <arg name="use_fixed_joints" default="true" unless="$(arg gui)"/>
  <arg name="calib_file" default="$(find cititruck_description)/calibration/$(arg robot_name)_calib.yaml"/>

  <!-- Since we have this for each robot, it must be in the robot's namespace -->
  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find cititruck_description)/urdf/$(arg xacro_name).xacro' use_fixed_joints:=$(arg use_fixed_joints) calib_file:=$(arg calib_file) tf_prefix:=$(arg robot_name)"/>
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="$(arg gui)"/>
      <rosparam command="load" file="$(arg calib_file)"/> <!-- Load zero positions -->
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg robot_name)"/>
    </node>

  </group>

</launch>
