<?xml version="1.0"?>
<launch>
  
  <arg name="max_unsafety_probability" default="0.001"/>
  <arg name="max_transmission_delay" default="0"/>
  <arg name="max_packet_loss_probability" default="0"/>
  <arg name="min_transmission_delay" default="0" />

  <node name="channel_model" pkg="orunav_channel" type="orunav_channel_node" output="screen">
    <rosparam param="robot_ids">[1, 2, 3]</rosparam>
    <param name="min_tx_delay_millis" value="$(arg min_transmission_delay)" />
    <param name="max_tx_delay_millis" value="$(arg max_transmission_delay)" />
    <param name="packet_loss_probability" value="$(arg max_packet_loss_probability)" />
    <param name="max_unsafety_probability" value="$(arg max_unsafety_probability)" />
    <param name="tf_prefix" value="/robot" />
    <param name="report_topic" value="report" />
    <param name="execute_task_topic" value="unreliable_execute_task" />
    <param name="execute_task_service" value="execute_task" />
  </node>

</launch>