<?xml version="1.0"?>
<launch>

  <arg name="robot_id" default="1"/>
  <arg name="tf_prefix" value="robot$(arg robot_id)"/>
  <arg name="use_ct" default="false"/>
  <arg name="use_update_task" default="true"/>

  <group ns="$(arg tf_prefix)">
    <param name="tf_prefix" value="$(arg tf_prefix)" />

    <node pkg="orunav_mpc" type="controller_node" name="controller"
          output="screen">
      <param name="robot_id" value="$(arg robot_id)" />
      <remap from="/$(arg tf_prefix)/cmd_vel"
             to="/$(arg tf_prefix)/controller/cmd_vel" />
      <!--remap from="/$(arg tf_prefix)/cmd_vel" to ="/$(arg tf_prefix)/control/controller/cmd_vel"/ -->
      <remap from="controller/commands"
             to="control/controller/commands" />
      <remap from="controller/reports"
             to="control/controller/reports" />
      <remap from="controller/trajectories"
             to="control/controller/trajectories" />
    </node>

    <include file="$(find orunav_fork_control)/launch/fork_control_sim.launch">
      <arg name="cmd_fork_topic"
           value="controller/cmd_fork" />
    </include>

    <!--node pkg="orunav_fork_control" type="fork_control_sim_node" name="fork_control"
        output="screen"> <param name="visualize" value="true" /> </node -->

    <node pkg="orunav_motion_planner" type="get_path_service"
          name="get_path_service" output="screen">
      <param name="model"
             value="CiTiTruck_Expanded10+20_16_1_4.0_0.2.reduced" />
      <param name="motion_primitives_directory"
             value="$(find orunav_motion_planner)/Primitives/" />
      <param name="lookup_tables_directory"
             value="$(find orunav_motion_planner)/LookupTables/" />
      <param name="min_incr_path_dist" value="0.2" />
      <param name="visualize" value="true" />
    </node>

    <node pkg="orunav_constraint_extract"
          type="polygonconstraint_service" name="polygonconstraint_service"
          output="screen">
      <param name="load_type" value="1" />
      <param name="model_type" value="2" />
      <param name="visualize" value="false" />
      <param name="save_constraints_and_path" value="true" />
      <param name="lookuptables_file"
             value="$(find orunav_constraint_extract)/tables/service_lookup_model2load1.dat" />
      <param name="visualize_outer_constraints" value="false" />
      <param name="visualize_only_invalid" value="false" />
      <param name="skip_overlap" value="true" />
      <param name="save_lookuptables" value="false" />
    </node>

    <node pkg="orunav_path_smoother" type="smoothed_path_service"
          name="smoothed_path_service" output="screen">
      <param name="visualize" value="true" />
      <param name="visualize_deep" value="false" />
      <param name="wheel_base" value="1.190" />
      <param name="minimize_phi_and_dist" value="true" />
      <param name="init_controls" value="true" />
      <param name="use_th_constraints" value="true" />
      <param name="use_xy_constraints" value="true" />
      <param name="phi_min" value="-1.0" /> <!-- -0.9 -->
      <param name="phi_max" value="1.0" />  <!-- 0.9 -->
      <param name="reassign_constraints" value="true" />
      <param name="reassign_iters" value="1" />
      <param name="reassign_min_distance" value="0.1" />
      <param name="use_incremental" value="true" />
      <param name="incr_max_nb_points" value="30" />
      <param name="incr_nb_points_discard" value="10" />
    </node>

    <node pkg="orunav_trajectory_processor" type="deltatvec_service" name="deltatvec_service" output="screen">
      <param name="visualize" value="true" />
      <param name="fast_max_vel" value="0.5"/>
      <param name="fast_max_rotational_vel" value="0.3"/>
      <param name="fast_max_acc" value="0.3"/>
      <param name="fast_max_steering_angle_vel" value="0.6"/>
      <param name="fast_creep_speed" value="0."/>
      <param name="fast_creep_distance" value="0."/>
      
      <param name="slow_max_vel" value="0.05"/>
      <param name="slow_max_rotational_vel" value="0.3"/>
      <param name="slow_max_acc" value="0.1"/>
      <param name="slow_max_steering_angle_vel" value="0.6"/>
      <param name="slow_creep_speed" value="0."/>
      <param name="slow_creep_distance" value="0."/>
    </node>

    <node pkg="orunav_path_smoother" type="smoothed_straight_path_service" name="smoothed_straight_path_service" output="screen">
      <param name="visualize" value="true" />
    </node> 

    <node pkg="orunav_vehicle_execution"
          type="orunav_vehicle_execution_node"
          name="orunav_vehicle_execution_node_citi1" output="screen">
      <param name="robot_id" value="$(arg robot_id)" />
      <param name="visualize" value="true" />
      <param name="max_tracking_error" value="-1." />
      <param name="use_forks" value="true" />

      <param name="max_vel" value="0.3" />
      <param name="max_rotational_vel" value="0.3" />
      <param name="max_acc" value="0.1" />

      <param name="chunk_idx_connect_offset" value="1"/>
      <param name="use_ct" value="$(arg use_ct)" />
      <param name="use_update_task_service" value="$(arg use_update_task)"/> <!-- run with fake coordinator in simulation -->
      <param name="max_linear_vel_pallet_picking" value="0.2"/>
      <param name="max_rotational_vel_pallet_picking" value="0.2"/>
      <param name="max_linear_vel_rev_pallet_picking" value="0.1"/>
      <param name="max_rotational_vel_rev_pallet_picking" value="0.1"/>
    </node>

  </group>


</launch>
