<?xml version="1.0"?>
<launch>

  <include
    file="$(find cititruck_gazebo)/launch/cititrucks_empty.launch" />
  <include
    file="$(find gazebo_worlds_oru)/launch/empty_map_server.launch" />
  <rosparam command="load"
    file="$(find orunav_params)/config/global.cfg" />
  <rosparam command="load"
    file="$(find orunav_params)/config/citi1_simulation.cfg" />
  <rosparam command="load"
    file="$(find orunav_params)/config/citi2_simulation.cfg" />
  <rosparam command="load"
    file="$(find orunav_params)/config/citi3_simulation.cfg" />

  <node pkg="orunav_vehicle_execution"
    type="point_n_click_target_client"
    name="point_n_click_target_client_citi1" output="screen">
    <param name="load_operation" value="false" />
    <rosparam param="robot_ids">[1, 2, 3]</rosparam>
    <param name="multiple_vehicles" value="true" />
  </node>

  <node pkg="orunav_coordinator_fake" type="coordinator_fake_node"
    name="coordinator_fake_node" output="screen">
    <param name="slowest_dts" value="false" />
    <param name="alter_fast_slow_dts" value="false" />
    <param name="cts_hole_width" value="0" />
    <param name="multiple_vehicles" value="true" />
  </node>

  <!-- Robot 1 -->
  <include file="$(find orunav_launch)/launch/cititruck_sim.launch">
    <arg name="robot_id" value="1" />
    <arg name="use_ct" value="true" />
  </include>

  <!-- Robot 2 -->
  <include file="$(find orunav_launch)/launch/cititruck_sim.launch">
    <arg name="robot_id" value="2" />
    <arg name="use_ct" value="true" />
  </include>

  <!-- Robot 3 -->
  <include file="$(find orunav_launch)/launch/cititruck_sim.launch">
    <arg name="robot_id" value="3" />
    <arg name="use_ct" value="true" />
  </include>


  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find cititruck_description)/launch/cititrucks3.rviz" />

</launch>
