<?xml version="1.0"?>
<launch>

  <arg name="robot_id" default="1" />
  <arg name="tf_prefix" value="robot$(arg robot_id)" />

  <rosparam command="load"
    file="$(find orunav_params)/config/global.cfg" />
  <rosparam command="load"
    file="$(find orunav_params)/config/citi1_simulation.cfg" />

  <include
    file="$(find cititruck_gazebo)/launch/cititruck_basement.launch" />
  <include
    file="$(find gazebo_worlds_oru)/launch/basement_map_server.launch" />
  <!--include file="$(find orunav_mpc)/launch/citi1_simulation.launch"/ -->

  <node pkg="orunav_vehicle_execution"
    type="point_n_click_target_client"
    name="point_n_click_target_client_citi1" output="screen">
    <param name="load_operation" value="false" />
    <rosparam param="robot_ids">[1]</rosparam>
    <param name="multiple_vehicles" value="true" />
  </node>

  <node pkg="orunav_coordinator_fake" type="coordinator_fake_node"
    name="coordinator_fake_node" output="screen">
    <param name="multiple_vehicles" value="true" />
    <param name="use_ct" value="false" />
  </node>

  <!-- ALL ROBOT SPECIFIC TASKS -->
  <include file="$(find orunav_launch)/launch/cititruck_sim.launch">
    <arg name="robot_id" value="$(arg robot_id)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find cititruck_description)/launch/cititruck.rviz" />

</launch>
