<launch>
  
  
  <node name="orunav_debug" pkg="orunav_debug" type="control_log_parser" args="--log_filename /home/han/.ros/robot1controller.log --sensor_log_filename /home/han/.ros/robot1sensor.log --draw_actual_velocities"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orunav_debug)/launch/control_debug.rviz"/>

</launch>
